frontend:
  replicaCount: 1
  image: ghcr.io/doda2025-team8/app-frontend:latest
  service:
    port: 80
    targetPort: 8080
  labels:
    app: app-frontend
    component: frontend
  hostname: "team8.local"

backend:
  replicaCount: 1
  # TODO update image to latest after branch has been merged
  image: ghcr.io/doda2025-team8/app-service:0.1.2-20251212041420-m4
  service:
    port: 8080
    targetPort: 8080
  modelHost: "http://model-service:8081"
  v1:
    enableCache: "false"
  v2:
    enableCache: "true"
  labels:
    app: app-service
    component: backend

model:
  replicaCount: 1
  image: ghcr.io/doda2025-team8/model-service:latest

  service:
    port: 8081
    targetPort: 8081

  env:
    MODEL_SERVICE_PORT: "8081"
    MODEL_DIR: "/app/models"
    MODEL_VERSION: "latest"
    GITHUB_REPO: "doda2025-team8/model-service"

  labels:
    app: model-service
    component: ml-model

grafana:
    namespace: default

istio:
  enabled: true

  ingressGatewaySelector:
    istio: ingressgateway

  gateway:
    hosts:
      - "*"
    port: 80