frontend:
  replicaCount: 1
  image: ghcr.io/doda2025-team8/app-frontend:latest
  service:
    port: 80
    targetPort: 8080
  labels:
    app: app-frontend
    component: frontend
  hostname: "team8.local"

backend:
  replicaCount: 1
  image: ghcr.io/doda2025-team8/app-service:latest
  service:
    port: 8080
    targetPort: 8080
  modelHost: "http://model-service:8081"
  labels:
    app: app-service
    component: backend

model:
  replicaCount: 1
  image: ghcr.io/doda2025-team8/model-service:latest

  service:
    port: 8081
    targetPort: 8081

  env:
    MODEL_SERVICE_PORT: "8081"
    MODEL_DIR: "/app/models"
    MODEL_VERSION: "latest"
    GITHUB_REPO: "doda2025-team8/model-service"

  labels:
    app: model-service
    component: ml-model

alertmanager:
  alertmanagerSpec:
    secrets:
    - my-secret
  
  config:
    global:
      smtp_from: 'team8doda@gmail.com'
      smtp_smarthost: 'smtp.gmail.com:587'
      smtp_auth_username: 'team8doda@gmail.com'
      smtp_auth_password_file: '/etc/alertmanager/secrets/my-secret/SMTP_PASSWORD'
      smtp_require_tls: true
    
    route:
      receiver: 'email-alert'
    
    receivers:
    - name: 'email-alert'
      email_configs:
      - to: 'team8doda@gmail.com'
        send_resolved: true