apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: email-config
  labels: 
    alertmanagerConfig: alertmanagercfg
spec:
  route:
    receiver: 'email-alerts'
  receivers:
    - name: 'email-alerts'
      emailConfigs:
      - to: {{ .Values.alertmanager.email.to}}
        from: {{ .Values.alertmanager.email.from }}
        smarthost: {{ .Values.alertmanager.email.smarthost }}
        authUsername: {{ .Values.alertmanager.email.authUsername }}
        authPassword:
          name: alertmanager-smtp-secret
          key: SMTP_PASSWORD
        requireTLS: true