apiVersion: monitoring.coreos.com/v1
kind: Alertmanager
metadata:
  name: email-alert
  labels:
    release: {{ .Release.Name }}
spec:
  replicas: 1
  alertmanagerConfigSelector:
    matchLabels:
      alertmanagerConfig: alertmanagercfg