apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
data:
  alertmanager.yml: |
    global:
      smtp_smarthost: 'smtp.gmail.com:587'
      smtp_from: '${SMTP_USERNAME}'
      smtp_auth_username: '${SMTP_USERNAME}'
      smtp_auth_password: '${SMTP_PASSWORD}'
      resolve_timeout: 5m
    route:
      receiver: 'email-team'
    receivers:
      - name: 'email-team'
        email_configs:
          - to: 'team8doda@gmail.com'
            send_resolved: true
---
apiVersion: v1
kind: Secret
metadata:
  name: my-secret
data:
  SMTP_USERNAME: dGVhbThkb2RhQGdtYWlsLmNvbQ==
  SMTP_PASSWORD: b3B4dSBsdmVhIGdocW8geWV4eA==
